
body{
    min-height: 100%;
    background-color:#f8f9fa ;

    /* margin: 15px 0 0 0; */
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif ;
}

.bgcustom-image{
    background-image: url("/static/images/4.jpg");
    background-size: cover;
}
.top-section{
    height: 80vh;
    padding: 50px 100px;
    color:whitesmoke;
    width: 100vw;
    display: flexbox;
    justify-content: center;
    align-items: baseline;  
}

label{
    margin-top: 10px;
}

/* 
.bg-primary,.btn-primary{
    background-color: #009494;
} */

.vh-30{
    height: 30vh;
}
.mh-50{
    max-height: 50%;
}
.hov:hover{
    background-color: #0d6efd;
    color: #fff;
}


.vh-40{
    height: 40vh;
}

div#regform span, div#regform span {
    color:#777 ;
}

table tr#golddonor{
    background: rgb(247,170,0);
    background: linear-gradient(36deg, rgba(247,170,0,1) 0%, rgba(255,231,0,0.6418942577030813) 100%);
}
table tr#silverdonor{
    background: rgb(34,193,195);
    background: linear-gradient(36deg, rgba(34,193,195,1) 0%, rgba(223,255,255,1) 100%);       
}
table tr#bronzedonor{
    background: rgb(250,101,149);
    background: linear-gradient(36deg, rgba(250,101,149,1) 0%, rgba(249,175,199,1) 100%);
}







