{%extends 'index.html'%}
{%load static%}
{%block header%}Donate{%endblock%}
{% block content %}

              <!-- messages -->
        {% if messages %}
                <div class="toast align-items-center text-white bg-primary border-0" role="alert" data-bs-autohide=false aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body">
                        Hello, world! This is a toast message.
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12 mt-5">
                <h4>Donate Now</h4>
            </div>
        </div>
        <div class="row mt-3">
            {% if ad%}
                {% for i in ad%}
                    <div class=" col-md-4 my-2">
                        <div class="card">
                            <img class="card-img-top" src="{{i.image.url}}" height="200px" width="200px" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">{{i.donation_title}}</h4>
                                <p class="card-text">{{ i.donation_description }}</p>
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-info pb-2" role="progressbar" style="width: {{i.progress}}%" aria-valuenow="{{i.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span id="raised">Rs. {{i.recieved_amount}}</span> of<span id="total" class="float-right"> Rs. {{i.required_amount}}</span><br>
                                <a href="{% url 'full-donation' i.slugs %}" class="btn btn-primary">Donate</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {%else%}
                    No data found
            {% endif %}
        </div>
           
{% endblock content %}