{% extends 'index.html' %}
{% load static %}
{% block header %}full post title{% endblock header %}
{% block content %}
<!-- donation title  -->
    <div class="row mt-5">
        <h4>{{inf.donation_title}}</h4>
    </div>
     <!-- donation image and contributors list -->
    <div class="row mt-2">
        <div class="col-md-6">
            <img src="{%static '/images/4.jpg'%}" alt="thumbnail" class="" width="100%" height="auto">
        </div>

         <!-- Contirbutors list and top donors list -->
        <div class="col-md-6 pt-3 topdonors">
            {% if clist %}
            <h5 class="mx-3 d-block">Contirbutors</h5>
                <div class="row fix-vh20">
                    <table class="table mx-3" >
                        <tbody class="text-muted ">
                        {% for c in clist %}
                            <div>
                                <tr>
                                    <th id='sn'>1</th>
                                    <td>{{c.uid.first_name}}&nbsp;{{c.uid.last_name}}</td>
                                    <td>{{c.amount}}</td>
                                </tr>
                            </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="d-flex justify-content-center " >
                        
                            {% if clist.has_previous %}
                                <a href="?page=1" class="px-2"><i class="fa-solid fa-angles-left"></i></a>
                                <a href="?page={{ clist.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a>
                            {% endif %}
                    
                            <span class=" px-2">Page</span> {{ clist.number }} <span class="text-muted px-2"> of {{ clist.paginator.num_pages }}</span>
                    
                            {% if clist.has_next %}
                                <a href="?page={{ clist.next_page_number }}"><i class="fa-solid fa-chevron-right"></i></a>
                                <a href="?page={{ clist.paginator.num_pages }} "  class="px-2"><i class="fa-solid fa-angles-right"></i></a>
                            {% endif %}
                        
                    </div>
                </div>
            {% else %}
                <h5 class="mx-3 d-block">Top Donors</h5>
                <div class="mx-3 mt-3">
                    <div class="table-responsive ">
                        <table class="table table-borderless d-inline">
                            <tbody>
                                {% for p in pos  %}
                                <tr>
                                    <td class="{{p.css_class}}">{{p.tag| safe}}</td>
                                </tr>
                                {% endfor %} 
                            </tbody>
                        </table>
                        <table class="table table-borderless d-inline">
                            <tbody>
                                {% for tds in td  %}
                                
                                <tr>
                                    {% if tds.uid is not None  %}
                                        <td>{{tds.uid}}</td>
                                        <td>{{tds.uid.first_name}}&nbsp;{{tds.uid.last_name}}  </td>
                                    {% else %}
                                        <td>{{tds.pid}}</td>
                                        <td>{{tds.pid.name}}</td>
                                    {% endif %}
                                    <td>{{tds.total_amount}}</td>
                                </tr>
                                {% endfor %} 
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
              
        </div>
    </div>
    <!-- donation description and payment  -->
    <div class="row mt-4">
        <div class="col-md-12">
            <p>{{inf.donation_description}}</p>
        </div>
        <div class="col-md-6">
            <p><button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapsepayment" aria-expanded="false" aria-controls="collapsepayment">Donate</button></p>
            <div class="collapse border rounded" id="collapsepayment">
                <div class="card card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {%if user.is_authenticated%}
                            <div class="px-5 pt-5">
                                <p class="h4">Your Details</p>
                                <hr class="border-2 border-top bg-success border-success rounded shadow-sm ">

                                <div class="row">
                                    
                                    <div class="col-md-2 border-end ">
                                        <div class="mt-2 pb-1 "><i class="fa fa-user mx-1" id="nav" aria-hidden="true"></i></div>
                                        <div class="mt-2 pb-1">Name</div>
                                        <div class="mt-2 pb-1">Email</div>
                                    </div>
                                    <div class="col-md-8 ">
                                        <div class="mt-2 pb-1">{{uname.username}}</div>
                                        <div class="mt-2 pb-1">{{request.user.get_full_name}}</div>
                                        <div class="mt-2 pb-1">{{uname.email}}</div>
                                    </div>
                                </div>
                            </div>
                        {%else%}
                            <div class="px-5 pt-5">
                                <p class="h5">Enter Your Personal Details</p>
                                <hr class="border-2 border-top bg-success border-success rounded shadow-sm ">
                                <div>
                                    <label for="fullname" class="form-label">Name</label>
                                    <input type="text" name="fullname" id="name" class="form-control" required>
                                </div>
                                <div>
                                    <label for="phone" class="form-label ">Phone</label>
                                    <input type="text" name="phone" id="phone" class="form-control" required>
                                </div>
                                <div>
                                    <label for="address" class="form-label">Address</label>
                                    <input type="text" name="address" id="address" class="form-control" required>
                                </div>
                                <div>
                                    <label for="email" class="form-label ">Email</label>
                                    <input type="email" name="email" id="email" class="form-control " required>
                                </div>
                            </div>
                        {%endif%}
    
                        <div class="px-5 pb-5">
                            <div class="">
                                <label for="amount" class="form-label" >Amount</label>
                                <input type="number" name="amount" max="{{inf.max_rec_amt}}"  class="form-control" id="amount" required>
                                <small class="text-muted">  *maximum donation amount={{inf.max_rec_amt}}</small>
                            </div>
                            <div class="">
                                <input type="submit" value="Pay" class="btn btn-success px-5 mt-4">
                            </div>
                            <input type="hidden" name="donation-id" value="{{inf.id}}">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
<!--  -->
    <hr class="border-2 border-top bg-success border-success rounded shadow-sm ">

    <!-- other ongoing donations only -->
    <div class="row mt-4">
        <h5 class=" mb-3">See More</h5>
        {% if ob%}
            {% for i in ob%}

                <div class=" col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static '/images/4.jpg' %}" alt="Card image">
                        <div class="card-body">
                        <h4 class="card-title">{{i.donation_title}}</h4>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-info pb-2" role="progressbar" style="width: {{i.progress}}%" aria-valuenow="{{i.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span id="raised">Rs. {{i.recieved_amount}}</span> of<span id="total" class="float-right"> Rs. {{i.required_amount}}</span><br>
                        <a href="{% url 'full-donation' i.slugs i.id%}" class="btn btn-primary">Donate</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {%else%}
                No data found
        {% endif %}
    </div>

{% endblock content %}