{%extends 'index.html'%}
{%load static%}
{%block header%}Home{%endblock%}
{%block content%}
  <div class="container bg-light">



      <!-- new / important donation -->
      <div class="row mt-4">
            <div class="col-md-12 bgcustom-image top-section " style="background-image:url('{{lt.image.url}}');background-size:cover;">
              <div class="h3">{{lt.donation_title}} </div><br>
              <div class="medium text-justified">{{lt.donation_description}}</div><br>
              <a href="{% url 'full-donation' lt.slugs lt.id %}" class="btn btn-success align-self-start" >Donate</a>
            </div>
      </div>

      <!-- top 5 donors -->
      <div class="row mt-5">
        
        <h2 class="mb-3">Top Donors</h2><br>
        <div class="table-responsive ">
          <table class="table table-borderless">
              <tbody>
                  {% for tds in td  %}
                      <tr>
                          <td id="pos">{{tds.pos| safe}}</td>
                          <td>{{tds.uid.first_name}}{{tds.pid.name}}&nbsp;{{tds.uid.last_name}}  </td>
                          <td>Rs. {{tds.total_amount}}</td>
                      </tr>
                  {% endfor %} 
              </tbody>
          </table>
        </div>

      </div>      

      <!-- ongoing donations -->
      <div class="row mt-5">
              <h2 class="mb-3 d-inline">Donate Now</h2>
              <!-- <a href="{% url 'donates'%}" class="d-inine bg-primary text-decoration-none text-light px-4 py-2 rounded small">explore all</a><br> -->
              
              {% if ad%}
                {% for i in ad%}
                    <div class=" col-md-4 my-2">
                        <div class="card">
                            <img class="card-img-top" src="{{i.image.url}}" alt="Card image">
                            <div class="card-body">
                                <h5 class="card-title">{{i.donation_title}}</h5>
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-info pb-2" role="progressbar" style="width: {{i.progress}}%" aria-valuenow="{{i.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div><p>{{i.pp}}</p>
                                <span id="raised">Rs. {{i.recieved_amount}}</span> of<span id="total" class="float-right"> Rs. {{i.required_amount}}</span><br> 
                                <a href="{% url 'full-donation' i.slugs i.id %}" class="btn btn-primary">Donate</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {%else%}
                    No data found
            {% endif %}
              

            
      </div>

      <!-- why Donate -->
      <div class="row mt-5 text-justified">
                  <h2>Why to Donate?</h2><br>
                  <p class="px-3 ">Donating to charity is a major mood-booster. 
                    The knowledge that you’re helping others is hugely empowering and, 
                    in turn, can make you feel happier and more fulfilled. Research has 
                    identified a link between making a donation to charity and increased 
                    activity in the area of the brain that registers pleasure - proving that 
                    as the old adage goes, it really is far better to give than to receive.
                    Having the power to improve the lives of others is, to many people, a privilege, 
                    and one that comes with its own sense of obligation. Acting on these 
                    powerful feelings of responsibility is a great way to reinforce our own 
                    personal values and feel like we’re living in a way that is true to our 
                    own ethical beliefs.<br><br>
                  </p>

      </div>

      <!-- successfull stories -->
      <div class="row mt-5">
              <h2>Success Stories</h2><br>
                {% if sd%}
                {% for i in sd%}
                  <div class="row mt-3 ">
                      <div class=" col-md-4">
                          <div class="card">
                              <img class="card-img-top vh-30 d-flex align-items-center " src="{% static '/images/4.jpg' %}" alt="Card image">
                          </div>
                      </div>
                      <div class="col-md-8">
                          <div class="card-body">
                              <h4 class="card-title">{{i.donation_title}}</h4>
                              <p class="card-text text-justified">{{ i.donation_description }}   Lorem ipsum dolor sit amet consectetur adipisicing 
                                  elit. Vel fugiat delectus tenetur sequi sapiente aperiam quia ipsum, vitae illo numquam quibusdam facere consectetur 
                                  assumenda eveniet debitis deleniti iusto itaque ipsa explicabo. Necessitatibus dolorem asperiores quod culpa 
                                  repellendus ratione officiis molestiae, voluptate, doloribus cumque incidunt! Suscipit quibusdam voluptate 
                                  ipsam sunt odit!
                              </p>
                              <span id="raised" class="bg-success px-2 border-0 py-1 rounded text-light">Raised a total of Rs. {{i.recieved_amount}}</span><br>
                              <a href="{% url 'full-donation' i.slugs i.id %}" class="btn btn-primary mt-3">See full post</a>
                          </div>
                      </div>
                  </div>
                  <hr class="border-2 border-top bg-success border-success rounded shadow-sm ">
                {% endfor %}
                {%else%}
                    No data found
                {% endif %}

      </div>  


  </div>      
{%endblock content%}