{%extends 'index.html'%}
{% load static%}
{%block header%}Request Donation{%endblock%}
{%block content%}  
       
       <div class="row mt-5">
            <h4>Post a Donation</h4>
        </div>
        <div class="container">
            <form action=""  method="post">
            {% csrf_token %} 
               <div class="row">
                   {% if user.is_authenticated is not True %}
                        <p class="text-muted h5 mt-3">Your Information</p>
                        <!-- Name -->
                        <div class="col-md-12">
                        <label for="full_name" class="form-label">Full Name</label>
                        <input type="text" class="form-control" name="full_name" id="full_name"  placeholder="Enter your full name." required>
                        </div>

                        <!-- email address -->
                        <div class="col-md-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="abc@xyz.com" id="email">
                        </div>

                        <!-- mobile number -->
                        <div class="col-md-6">
                        <label for="mobile_number" class="form-label">Mobile</label>
                        <input type="tel" name="mobile_number" class="form-control" placeholder="Enter 10 digit mobile number." pattern="[0-9]{10}" id="mobile_number"  required>
                        </div>

                        <!-- address -->
                        <div class="col-md-12">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" name="address" placeholder="Enter your address." id="address" required>
                        </div>
                    {% else %}
                        <input type="hidden" name="full_name">
                        <input type="hidden" name="address">
                        <input type="hidden" value="0" name="mobile_number">
                        <input type="hidden" name="email">
                    {% endif %}       
                    <hr class="bg-success border-2 border-top border-success mt-5">  
                    <p class="text-muted h5">Provide Information for donation</p>

                    <!-- donation title -->
                    <div class="col-md-12">
                        <label for="donation_title">Donation title</label>
                        <input type="text" class="form-control" name="donation_title" placeholder="Title" id="donation_title" required>
                    </div>


                    <!-- Descriptions -->
                    <div class="col-md-12 mt-4">
                        <label for="floatingTextarea2" >Description</label>
                        <textarea class="form-control" placeholder="Brief the cause." name="description" id="floatingTextarea2" style="height: 100px" maxlength='499' required></textarea>
                    </div>
                    

                    <!-- donation raising purpose -->
                    <div class="col-md-12 mt-3" >
                        <label for="" class="form-label">What are you raising for?</label><br>
                        <select name="purpose" id="" class="form-control"  required>
                            <option value="" selected>select</option>
                            <option value="Patient">Patient</option>
                            <option value="Suffered from a Natural Disaster">Suffered from a Natural Disaster</option>
                            <option value="Foods for poor">Foods for poor people</option>
                        </select>
                    </div>


                    <!-- Donation amount -->
                    <div class="col-md-12">
                        <label for="donation_ammount" class="form-label">How much would you like to raise?</label>
                        <input type="number" class="form-control" name="donation_ammount" id="donation_ammount"  placeholder="Amount" required>
                    </div>
                    
                    <!-- imgae -->

                    <div class="col-md-12">
                        <label for="donation_image" class="form-label">Upload Image</label>
                        <input type="file" name="donation_image" id="donation_image" class="form-control" required>
                    </div>


   
                    <div class="col-md-12">
                        <input type="submit" value="Submit" class="btn btn-success mt-5 px-4">
                    </div>
               </div>
            </form>
        </div>

{%endblock content%}